



nav{
    box-shadow: -2px 10px 16px -9px rgba(239,231,231,0.75);
    -webkit-box-shadow: -2px 10px 16px -9px rgba(239,231,231,0.75);
    -moz-box-shadow: -2px 10px 16px -9px rgba(239,231,231,0.75);
   

}



nav ul li.nav-item a{
    color: #fff!important;
    text-decoration: none;
      background-image: linear-gradient(currentColor, currentColor);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 2px;
      transition: background-size .3s;
      margin-right:20px ;
  }
  
  nav ul li.nav-item a:hover{
    color: #fff!important;
    background-size: 100% 2px;
    
  }
















































.contenido{
    width: 100%;
    height: auto;
    margin-top: 70px;
    
    display: flex;
    justify-content: center;
    
}

.contenido .texto{
    width: 80%;
    height: auto;   
    background-color:rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-flow: wrap;
    border-radius: 10px;

      
}

.texto h1{
    margin-top: 20px;
    color: wheat;
    text-align: center;
    margin-left: 18px;
    

}

.texto p{
    margin-top: 20px;
    color: wheat;
    text-align: center;
    margin-left: 18px;
    margin-right: 18px;
}






@media screen and (max-width:1200px){
    .containerr .estilo{
        width: 40%;
    }
    
}

@media screen and (max-width:600px){
    .containerr .estilo{
        width: 90%;
    }
    
}